---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [1]:
import pandas as pd

doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.head(10)

0         03/25/93 Total time of visit (in minutes):\n
1                       6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Servic...
3                7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (N...
5                    .Per 7/06/79 Movement D/O note:\n
6    4, 5/18/78 Patient's thoughts about current su...
7    10/24/89 CPT Code: 90801 - Psychiatric Diagnos...
8                         3/7/86 SOS-10 Total Score:\n
9             (4/10/71)Score-1Audit C Score Current:\n
dtype: object

In [27]:
#testing       
dates1 =  ["asdfa 23 Jun 2018 asdfa", "2 Dec 2017", "11 Jun 2018", 
        "01 January 2019", "10 mar. 15", "01 Jan 2007"] 

dates2 = ["asdfa 07/20/2017 asdf", "04/20/09", "4/20/09", "4/3/09"]

dates3= ['asdfa Mar 20, 2009 asdfa', 'March 20, 2009', 'Mar. 20, 2009', 'Mar 20 2009']

dates4 =  ["asdf Mar-20-2009 asdf", " sadf Feb-01-2015 asdf"]

dates5 = ["asdfa Mar 20th, 2009 asdfa", "Mar 21st, 2009", "Mar 22nd, 2009"]

dates6 = ["asdfa Feb 2009 asdfa", "Sep 2009", "Oct 2010"]

dates7 = ["asdfa 6/2008 asdfa", "12/2009"]

dates8 = ["asdf 2008 asdfasd", " as 2017 asad"]

dates = dates1+dates2+dates3+dates4+dates5+dates6+dates7+dates8

In [3]:
# 04/20/2009; 04/20/09; 4/20/09; 4/3/09
# Mar-20-2009; Mar 20, 2009; March 20, 2009; Mar. 20, 2009; Mar 20 2009;
# 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
# Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
# Feb 2009; Sep 2009; Oct 2010
# 6/2008; 12/2009
# 2009; 2010

In [28]:
#where to check regex code
# https://regex101.com/

#import regex
import re

#import calendar
import calendar

short_month = {v: k for k,v in enumerate(calendar.month_abbr)}

# Import the datetime module 
from datetime import datetime

In [29]:
i = dates1[0]
i

'asdfa 23 Jun 2018 asdfa'

In [287]:
#putting it all together

date_list = []
failed_list = []
count = 0

#find all dates of type month/day/year


for i in df:
    
    try:
        m = re.search('\d+(/)\d+(/)\d+', i)
        date = m.group(0)

        date = date.split("/")

        month = int(date[0])

        year = int(date[2][-2:])

        day = int(date[1])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1
        
        continue
        
    except:
        pass

#find all dates of type day, name of month, year


    try:
    
        m = re.search('\d+ (.+) \d+', i)
        found1 = m.group(1)
        month = found1.lower()
        month = month.title()

        month = int(short_month[month[:3]])

        m = re.search('(\d+) .+ \d+', i, re.IGNORECASE)
        found2 = m.group(1)

        day = int(found2)

        m = re.search('\d+ .+ (\d+)', i, re.IGNORECASE)
        found3 = m.group(1)

        year = int(found3[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
    
    except:
        
        pass
    
#find all dates of type day, name of month, year part two
    
    try:
        
        m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
        year = m.group(0)
        
        m = re.search(f'\d+ \w+ {year}', i)
        a = m.group(0)
        b = a.replace(f"{year}", "")
        day = [int(s) for s in b.split() if s.isdigit()][0]
        
        month = b.replace(f"{day}", "")
        month = month.replace(" ", "")
        month = month.lower()
        month = month.title()  
        month = int(short_month[month[:3]])
        
        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass

    

#find all dates of type name month, day, year except month-day-year


    try:

        m = re.search('(.+) \d+', i)
        found1 = m.group(1)
        month = found1.lower()
        month = month.title()  
        month = int(short_month[month[:3]])

        m = re.search('(.+) \d+', i)
        found2 = m.group(1)
        day = found2
        m1 = re.search('.+ (\d+)', day)
        found3 = m1.group(1)
        day = int(found3)

        m = re.search('.+ (\d+)', i)
        found4 = m.group(1)
        year = int(found4[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        
        
#find all dates of type name month-day-year

    try:

        m = re.search('\w+(-)\d+(-)\d+', i)
        date = m.group(0)
        date = date.split("-")

        month = date[0].lower()
        month = month.title()  
        month = int(short_month[month[:3]])

        day = int(date[1])

        year = int(date[2][-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
    
    except:
        pass
    
#find all dates of type month-day-year

    try:

        m = re.search('\d+(-)\d+(-)\d+', i)
        date = m.group(0)
        date = date.split("-")

        month = date[0].lower()
        month = int(month) 

        day = int(date[1])

        year = int(date[2][-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue

    except:
        pass


#find all dates with only name month and year

    try:

        m = re.search('.+ (\d+)', i)
        found1 = m.group(1)
        year = found1

        m = re.search(f'(.+) {year}', i)
        found2 = m.group(1)
        month = found2
        month = month.lower()
        month = month.title()  
        month = int(short_month[month[:3]])

        day = 1

        year = int(year[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass

#find all dates with month/year


    try:

        m = re.search('\d+(/)\d+', i)
        date = m.group(0)

        date = date.split("/")

        month = int(date[0])

        year = int(date[1][-2:])

        day = 1

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        

#find all dates with day month year


    try:

        m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
        year = int(m.group(0))
        m = re.search(f'\d+ \w+ {year}', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = int(a_list[0])
        month = a_list[1]
        month = month.replace(" ", "")
        month = month.lower()
        month = month.title()  
        month = int(short_month[month[:3]])
        year = int(a_list[2])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')
        
        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        

#find all dates with month name day year

    try:
        
        m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
        year = int(m.group(0))
        m = re.search('(\w+ \d+)', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = int(a_list[1])
        month = a_list[0]
        month = month.replace(" ", "")
        month = month.lower()
        month = month.title()  
        month = int(short_month[month[:3]])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        

        
#find all dates with month name day year that has typos

    try:
        
        m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
        year = int(m.group(0))
        m = re.search('(\w+\.+ \d+)', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = int(a_list[1])
        month = a_list[0]
        month = month.replace(" ", "")
        month = month.lower()
        month = month.title()  
        month = int(short_month[month[:3]])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        
#find all month name day year without punctuation


    try:

        m = re.search('(\w+ \d+ \d+)', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = int(a_list[1])
        month = a_list[0]
        month = month.replace(" ", "")
        month = month.lower()
        month = month.title()  
        month = int(short_month[month[:3]])
        year = int(a_list[2])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')
        
        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        
#find all month name year without day


    try:

        m = re.search('(\w+ \d{4})', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = 1
        
        try:
        
            month = a_list[0]
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])
        except:
            month = 1
        
        year = int(a_list[1])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')
        
        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        

#find all month name year without day and typos


    try:

        m = re.search('(\w+\,+ \d{4})', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = 1
        
        try:
        
            month = a_list[0]
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])
        except:
            month = 1
        
        year = int(a_list[1])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')
        
        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass
        
        
#find all dates with year and bad punctuation

    try:    
    
        m = re.search('(\d{4})', i)
        a = m.group(0)
        a_list = a.split(" ")
        day = 1
        month = 1
        year = int(a_list[0])
        year = int(str(year)[-2:])

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')
        
        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
        
    except:
        pass  

#find all dates with year

    try:

        word_list = i.split(" ")

        for a in word_list:

            if a.isalpha():
                continue

            else:
                year = a

        year = int(year[-2:])

        month = 1

        day = 1

        date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
        date = datetime.strptime(date, '%m/%d/%y')

        date_dict = {"count" : count, "date" : date}
        
        date_list.append(date_dict)
        
        count += 1    
        
        continue
    
    except:
        failed_list.append(i)
        pass
    
#convert list to dataframe and order

df_date = pd.DataFrame(date_list)
df_date['rank'] = df_date['date'].rank(ascending=True, method="first")
df_date["rank"] = df_date["rank"] - 1
df_date[["rank"]] = df_date[["rank"]].astype(int)

#return value
#df_date['rank']

In [288]:
print(len(date_list))
print(len(failed_list))

500
0

In [289]:
failed_list[0]

IndexError: list index out of range

In [305]:
df_date = pd.DataFrame(date_list)
df_date['rank'] = df_date['date'].rank(ascending=True, method="first")
df_date["rank"] = df_date["rank"] - 1
df_date[["rank"]] = df_date[["rank"]].astype(int)
df_date

     count       date  rank
0        0 1993-03-25   267
1        1 1985-06-18   163
2        2 1971-07-08     2
3        3 1975-09-27    53
4        4 1996-02-06   304
5        5 1979-07-06    95
6        6 1978-05-18    84
7        7 1989-10-24   218
8        8 1986-03-07   172
9        9 1971-04-10     0
10      10 1985-05-11   162
11      11 1975-04-09    47
12      12 1998-08-01   323
13      13 1972-01-26     7
14      14 1990-05-24   226
15      15 2011-01-25   451
16      16 1982-04-12   126
17      17 1976-10-13    65
18      18 1998-04-24   319
19      19 1977-05-21    73
20      20 1998-07-21   322
21      21 1979-10-21   100
22      22 1990-03-03   225
23      23 1976-02-11    59
24      24 1984-07-25   154
25      25 1982-04-13   127
26      26 1989-09-22   217
27      27 1976-09-02    63
28      28 1971-09-12     4
29      29 1986-10-24   182
..     ...        ...   ...
470    470 1983-01-01   140
471    471 1999-01-01   329
472    472 2010-01-01   438
473    473 1975-01-01    44
474    474 1972-01-01     5
475    475 2015-01-01   484
476    476 1989-01-01   205
477    477 1994-01-01   274
478    478 1993-01-01   264
479    479 1996-01-01   303
480    480 2013-01-01   473
481    481 1974-01-01    26
482    482 1990-01-01   221
483    483 1995-01-01   286
484    484 2004-01-01   383
485    485 1987-01-01   187
486    486 1973-01-01    15
487    487 1992-01-01   247
488    488 1977-01-01    68
489    489 1985-01-01   159
490    490 2007-01-01   411
491    491 2009-01-01   432
492    492 1986-01-01   169
493    493 1978-01-01    80
494    494 2002-01-01   365
495    495 1979-01-01    92
496    496 2006-01-01   401
497    497 2008-01-01   422
498    498 2005-01-01   395
499    499 1980-01-01   102

[500 rows x 3 columns]

In [306]:
df_date['rank']

0      267
1      163
2        2
3       53
4      304
5       95
6       84
7      218
8      172
9        0
10     162
11      47
12     323
13       7
14     226
15     451
16     126
17      65
18     319
19      73
20     322
21     100
22     225
23      59
24     154
25     127
26     217
27      63
28       4
29     182
      ...
470    140
471    329
472    438
473     44
474      5
475    484
476    205
477    274
478    264
479    303
480    473
481     26
482    221
483    286
484    383
485    187
486     15
487    247
488     68
489    159
490    411
491    432
492    169
493     80
494    365
495     92
496    401
497    422
498    395
499    102
Name: rank, Length: 500, dtype: int32

In [307]:
def date_sorter():
    
    import pandas as pd

    doc = []
    with open('dates.txt') as file:
        for line in file:
            doc.append(line)

    df = pd.Series(doc)
    
    #import regex
    import re

    #import calendar
    import calendar

    short_month = {v: k for k,v in enumerate(calendar.month_abbr)}

    # Import the datetime module 
    from datetime import datetime 
    
    #putting it all together

    date_list = []
    failed_list = []
    count = 0

    #find all dates of type month/day/year


    for i in df:

        try:
            m = re.search('\d+(/)\d+(/)\d+', i)
            date = m.group(0)

            date = date.split("/")

            month = int(date[0])

            year = int(date[2][-2:])

            day = int(date[1])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1

            continue

        except:
            pass

    #find all dates of type day, name of month, year


        try:

            m = re.search('\d+ (.+) \d+', i)
            found1 = m.group(1)
            month = found1.lower()
            month = month.title()

            month = int(short_month[month[:3]])

            m = re.search('(\d+) .+ \d+', i, re.IGNORECASE)
            found2 = m.group(1)

            day = int(found2)

            m = re.search('\d+ .+ (\d+)', i, re.IGNORECASE)
            found3 = m.group(1)

            year = int(found3[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:

            pass

    #find all dates of type day, name of month, year part two

        try:

            m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
            year = m.group(0)

            m = re.search(f'\d+ \w+ {year}', i)
            a = m.group(0)
            b = a.replace(f"{year}", "")
            day = [int(s) for s in b.split() if s.isdigit()][0]

            month = b.replace(f"{day}", "")
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass



    #find all dates of type name month, day, year except month-day-year


        try:

            m = re.search('(.+) \d+', i)
            found1 = m.group(1)
            month = found1.lower()
            month = month.title()  
            month = int(short_month[month[:3]])

            m = re.search('(.+) \d+', i)
            found2 = m.group(1)
            day = found2
            m1 = re.search('.+ (\d+)', day)
            found3 = m1.group(1)
            day = int(found3)

            m = re.search('.+ (\d+)', i)
            found4 = m.group(1)
            year = int(found4[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass


    #find all dates of type name month-day-year

        try:

            m = re.search('\w+(-)\d+(-)\d+', i)
            date = m.group(0)
            date = date.split("-")

            month = date[0].lower()
            month = month.title()  
            month = int(short_month[month[:3]])

            day = int(date[1])

            year = int(date[2][-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass

    #find all dates of type month-day-year

        try:

            m = re.search('\d+(-)\d+(-)\d+', i)
            date = m.group(0)
            date = date.split("-")

            month = date[0].lower()
            month = int(month) 

            day = int(date[1])

            year = int(date[2][-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass


    #find all dates with only name month and year

        try:

            m = re.search('.+ (\d+)', i)
            found1 = m.group(1)
            year = found1

            m = re.search(f'(.+) {year}', i)
            found2 = m.group(1)
            month = found2
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])

            day = 1

            year = int(year[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass

    #find all dates with month/year


        try:

            m = re.search('\d+(/)\d+', i)
            date = m.group(0)

            date = date.split("/")

            month = int(date[0])

            year = int(date[1][-2:])

            day = 1

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass


    #find all dates with day month year


        try:

            m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
            year = int(m.group(0))
            m = re.search(f'\d+ \w+ {year}', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = int(a_list[0])
            month = a_list[1]
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])
            year = int(a_list[2])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass


    #find all dates with month name day year

        try:

            m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
            year = int(m.group(0))
            m = re.search('(\w+ \d+)', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = int(a_list[1])
            month = a_list[0]
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass



    #find all dates with month name day year that has typos

        try:

            m = re.search('(?<!\d)\d{4,7}(?!\d)', i)
            year = int(m.group(0))
            m = re.search('(\w+\.+ \d+)', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = int(a_list[1])
            month = a_list[0]
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass

    #find all month name day year without punctuation


        try:

            m = re.search('(\w+ \d+ \d+)', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = int(a_list[1])
            month = a_list[0]
            month = month.replace(" ", "")
            month = month.lower()
            month = month.title()  
            month = int(short_month[month[:3]])
            year = int(a_list[2])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass

    #find all month name year without day


        try:

            m = re.search('(\w+ \d{4})', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = 1

            try:

                month = a_list[0]
                month = month.replace(" ", "")
                month = month.lower()
                month = month.title()  
                month = int(short_month[month[:3]])
            except:
                month = 1

            year = int(a_list[1])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass


    #find all month name year without day and typos


        try:

            m = re.search('(\w+\,+ \d{4})', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = 1

            try:

                month = a_list[0]
                month = month.replace(" ", "")
                month = month.lower()
                month = month.title()  
                month = int(short_month[month[:3]])
            except:
                month = 1

            year = int(a_list[1])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass


    #find all dates with year and bad punctuation

        try:    

            m = re.search('(\d{4})', i)
            a = m.group(0)
            a_list = a.split(" ")
            day = 1
            month = 1
            year = int(a_list[0])
            year = int(str(year)[-2:])

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            pass  

    #find all dates with year

        try:

            word_list = i.split(" ")

            for a in word_list:

                if a.isalpha():
                    continue

                else:
                    year = a

            year = int(year[-2:])

            month = 1

            day = 1

            date = f'{month:02d}' + '/' + f'{day:02d}' + '/' + f'{year:02d}'
            date = datetime.strptime(date, '%m/%d/%y')

            date_dict = {"count" : count, "date" : date}

            date_list.append(date_dict)

            count += 1    

            continue

        except:
            failed_list.append(i)
            pass

    #convert list to dataframe and order

    df_date = pd.DataFrame(date_list)
    df_date['rank'] = df_date['date'].rank(ascending=True, method="first")
    df_date["rank"] = df_date["rank"] - 1
    df_date[["rank"]] = df_date[["rank"]].astype(int)

    #return value
    #df_date['rank']    
    return df_date['rank']